@import "tailwindcss";

@source "../../views/**/*.{erb,html,haml,slim}";
@source "../../helpers/**/*.rb";
@source "../../javascript/**/*.js";


@layer utilities {
  .h-11 { height: calc(var(--spacing) * 11); }
  .h-12 { height: calc(var(--spacing) * 12); }
  .h-\[44px\] { height: 44px; }
}
