services:
  db:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: password
      TZ: Asia/Tokyo
    volumes:
      - postgresql_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10

  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - .:/app
      - bundle_data:/usr/local/bundle
    ports:
      - "3000:3000"
    environment:
      TZ: Asia/Tokyo
    depends_on:
      db:
        condition: service_healthy
    command: bash -lc "bundle install && bin/rails db:prepare && bin/rails s -b 0.0.0.0 -p 3000"
    tty: true
    stdin_open: true

volumes:
  postgresql_data:
  bundle_data:
